body{
    font-family: Verdana;
    /* width:100% ; */
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
    }

    /* #divcheckBreCap{ */
            /* width: 1em; */
            /* box-sizing: border-box; */
            /* display: flex; */
            /* color: red; */

    /* } */
/* 
    #divcheckBreCap > label 
    {
        color: red;
    } */
    /* .m-3 img{
        w

    } */